<p>student-list works!</p>
<div class="container">
    <table class="table table-striped">
      <tbody >
      <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>UNAME</th>
          <th>PASSWORD</th>
        </tr>  
          
        
        <tr *ngFor="let s of stu" >
          <td>{{s.id}}</td>
          <td>{{s.name}} </td>
          <td>{{s.uname}} </td>
          <td>{{s.password}} </td>
          <td>{{s.address}}</td>
          <td><a class="btn"  >
              <i class="fa fa-edit" (click)="editData(s)" ></i>
            </a>
          </td>
          <td><a class="btn"  >
              <i class="fa fa-trash" (click)="deleteData(s.id)"></i>
            </a>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div> 
   


