<body> 
   
  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container"> 
  <div class="jumbotron">
    <div class="bgs"> 
    <h1>Angular CRUD</h1> 
    </div>
   
  </div>
  <div class="row">
          <div class="col-md-6"><app-student-form></app-student-form></div>
          <div class="col-md-6"><app-student-list></app-student-list></div>
  </div>
</div> 
 </div>

  <p class="py-5 text-center">This example creates a half page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>
</body>

